.mainSquare {
    width: 665px;
    height: 285px;
    border-style: solid;
    background: black;
    display: flex;
    justify-content: center;  
  }
  
  .secundarySquare {
    width: 625px;
    height: 235px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    align-self: center;  
  }
  
  .button {
    background-color: orange;
    padding: 10px;
    width: 550px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-self: center;  
  }
  
  .link {
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    align-self: center;
    color: white;
  }
  
  .text {
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
     align-self: center;  
  }
  
  .p {
    width: 430px;
    height: 100px;
    background: black;
    color: white;
    display: flex;
    justify-content: center; 
  }